
:root {
    
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

--blanco:white;
--marron:burlywood;
--negro:black;
--primario: rgb(34, 46, 136);
--secundario:rgb(165, 35, 35);
}

h1, h2, h3, h4, h5, h6, p, input, textarea, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none; 
}
a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template: 1fr 4fr;
    background-color:var(--negro);
}
.aside{
    padding: 2rem;
    color:var(--blanco);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    font-weight: 400;
    font-size: 1.3rem;
}
.texto_footer{
color: rgb(255, 255, 255);
font-family: 'Cedarville Cursive';
}